// prevent tg webapp window closing
body {
  position: static;
  max-height: 100vh;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  overflow: scroll;
}

// prevent tg webapp window closing
html {
  max-height: 100vh;
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
}
/* скрытие скролбара */
// *::-webkit-scrollbar {
//   display: none;
// }

// отключение выделения для всех айтемов
* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

// Turn off scrollbar
*::-webkit-scrollbar {
  display: none;
  width: 0px;
}
*::-webkit-scrollbar-track {
  width: 0px;
}

*::-webkit-scrollbar-thumb {
  width: 0px;
}

*::-webkit-scrollbar-thumb:hover {
  width: 0px;
}